# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore the SQLite database file
db.sqlite3

# Ignore environment variable files
.env

# Ignore virtual environment folders
.venv/
venv/

# Ignore Django static files folder
staticfiles/

# Ignore migration files
migrations/

# Ignore VSCode settings
.vscode/
